<%- include('./partials/header'); %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <div class="container-fluid pt-4 px-4">
        <div class="bg-light rounded p-4">
            <form action="/admin/addProduct" method="POST" enctype="multipart/form-data" id="formMain"
                class="container ">
                <h2 class="mb-4">Add New Product</h2>

                <!-- General info -->
                <div class="form-group">
                    <label for="productTitle">Product Name</label>
                    <input type="text" name="name" placeholder="Type here" class="form-control" id="productTitle"
                        required>
                    <small id="nameError" class="form-text text-danger"></small>
                </div>

                <div class="form-group">
                    <label for="productDescription">Description</label>
                    <textarea placeholder="Type here" name="discription" class="form-control" rows="4"
                        id="productDescription" required></textarea>
                    <small id="descriptionError" class="form-text text-danger"></small>
                </div>

                <div class="form-group">
                    <label for="productBrand">Brand name</label>
                    <select class="form-select" name="brand" id="productBrand" required>
                        <option value="" disabled selected>Select a Brand</option>
                        <% if (brands.length> 0) { %>
                            <% for (let i=0; i < brands.length; i++) { %>
                                <option value="<%= brands[i]._id %>">
                                    <%= brands[i].name %>
                                </option>
                                <% } %>
                                    <% } else { %>
                                        <option value="" disabled>No Brand found Add on first</option>
                                        <% } %>
                    </select>
                    <small id="brandError" class="form-text text-danger"></small>
                </div>

                <!-- Pricing -->
                <div class="form-group">
                    <label for="productPrice">Cost </label>
                    <input type="text" name="price" placeholder="₹00.0" class="form-control" id="productPrice" required>
                    <small id="priceError" class="form-text text-danger"></small>
                </div>

                <!-- Color -->
                <div class="form-group">
                    <label for="productColor">Color</label>
                    <select class="form-select" name="color" id="productColor" required>
                        <option value="" disabled selected>Select Color</option>
                        <option value="Black">Black</option>
                        <option value="White">White</option>
                        <option value="Red">Red</option>
                        <option value="Orange">Orange</option>
                        <option value="Yellow">Yellow</option>
                        <option value="Green">Green</option>
                        <option value="Blue">Blue</option>
                        <option value="Purple">Purple</option>
                        <option value="Pink">Pink</option>
                        <option value="Brown">Brown</option>
                        <option value="Gray">Gray</option>
                        <option value="Silver">Silver</option>
                        <option value="Gold">Gold</option>
                        <!-- Add more options as needed -->
                    </select>
                    <small id="colorError" class="form-text text-danger"></small>
                </div>

                <!-- Quantity -->
                <div class="form-group">
                    <label for="productQuantity">Quantity</label>
                    <input type="text" name="quantity" placeholder="0" class="form-control" id="productQuantity"
                        required>
                    <small id="quantityError" class="form-text text-danger"></small>
                </div>

                <!-- Size -->
                <div class="form-group">
                    <label for="productSize">Size</label>
                    <select class="form-select" name="size" id="productSize" required>
                        <option value="" disabled selected>Select Size</option>
                        <option value="xs">XS</option>
                        <option value="s">S</option>
                        <option value="m">M</option>
                        <option value="l">L</option>
                        <option value="xl">XL</option>
                        <option value="xxl">XXL</option>
                        <!-- Add more options as needed -->
                    </select>
                    <small id="sizeError" class="form-text text-danger"></small>
                </div>

                <!-- Category -->
                <div class="form-group">
                    <label for="productCategory">Category</label>
                    <select class="form-select" name="category" id="productCategory" required>
                        <option value="" disabled selected>Select Category</option>
                        <% if (category.length> 0) { %>
                            <% for (let i=0; i < category.length; i++) { %>
                                <option value="<%= category[i]._id %>">
                                    <%= category[i].name %>
                                </option>
                                <% } %>
                                    <% } else { %>
                                        <option value="" disabled>No categories found</option>
                                        <% } %>
                    </select>
                    <small id="categoryError" class="form-text text-danger"></small>
                </div>

                <!-- Media -->
                <div class="form-group">
                    <label for="productImages">Images</label>
                    <input class="form-control" type="file" accept="image/*" name="images" multiple id="productImages"
                        required>
                    <div id="imagePreviewContainer" class="mt-2"></div>
                    <small id="imagesError" class="form-text text-danger">Crop all images before upload</small>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-lg btn-block mt-2">Add Product</button>
                <a href="/admin/products" class="btn btn-danger btn-lg btn-block mt-2">Cancel</a>
            </form>
        </div>
    </div>



    <script>
        const input = document.getElementById('productImages');
        const imagePreviewContainer = document.getElementById('imagePreviewContainer');

        input.addEventListener('change', () => {

            const allowedTypes = ['image/jpeg', 'image/png', 'image/jpg'];
            const filesType = Array.from(input.files);

            // Check if any file is of an unsupported type
            for (const file of filesType) {
                if (!allowedTypes.includes(file.type)) {
                    Swal.fire({
                        title: "Invalid File Type",
                        text: 'Only JPEG, PNG, and JPG files are allowed.',
                        icon: "warning",
                    });
                    input.value = ''; // Clear the input
                    return;
                }
            }

            const dataTransfer = new DataTransfer(); // Initialize DataTransfer to keep track of all cropped files

            Array.from(input.files).forEach(file => {
                const reader = new FileReader();
                reader.onload = function (e) {
                    const img = document.createElement('img');
                    img.src = e.target.result;
                    img.style.maxWidth = '200px';
                    img.style.marginRight = '10px';
                    img.classList.add('img-thumbnail');

                    const cropContainer = document.createElement('div');
                    cropContainer.classList.add('crop-container');
                    cropContainer.style.position = 'relative';
                    cropContainer.style.display = 'inline-block';

                    const cropButton = document.createElement('button');
                    cropButton.type = 'button'
                    cropButton.textContent = 'Crop';
                    cropButton.id = 'CropBtn';
                    cropButton.classList.add('btn', 'btn-sm', 'btn-info', 'crop-btn');
                    cropButton.style.position = 'absolute';
                    cropButton.style.bottom = '5px';
                    cropButton.style.left = '50%';
                    cropButton.style.transform = 'translateX(-50%)';

                    const deleteButton = document.createElement('button');
                    deleteButton.type = 'button'
                    deleteButton.textContent = 'Delete';
                    deleteButton.id = 'deleteButton';
                    deleteButton.classList.add('btn', 'btn-sm', 'btn-danger', 'deleteButton');
                    deleteButton.style.position = 'absolute';
                    deleteButton.style.bottom = '5px';
                    deleteButton.style.left = '50%';
                    deleteButton.style.transform = 'translateX(-50%)';

                    cropContainer.appendChild(img);
                    cropContainer.appendChild(cropButton);
                    imagePreviewContainer.appendChild(cropContainer);

                    const cropper = new Cropper(img, {
                        aspectRatio: 235 / 345,
                        autoCropArea: 1,
                        viewMode: 1,
                        scalable: false,
                        zoomable: true,
                        movable: true,
                    });

                    cropButton.addEventListener('click', () => {
                        cropButton.innerText = 'cropped';
                        const canvas = cropper.getCroppedCanvas({
                            width: 235,
                            height: 345
                        });

                        if (canvas) {
                            canvas.toBlob(blob => {
                                const newImg = document.createElement('img');
                                newImg.src = URL.createObjectURL(blob);
                                newImg.classList.add('img-thumbnail');
                                newImg.style.maxWidth = '200px';
                                cropContainer.innerHTML = '';
                                cropContainer.appendChild(newImg);
                                cropContainer.appendChild(deleteButton);

                                deleteButton.addEventListener('click', (e) => {

                                    cropContainer.removeChild(newImg)
                                    cropContainer.removeChild(deleteButton)
                                    e.stopPropagation()
                                    e.preventDefault()
                                })

                                // Add the cropped file to the DataTransfer object
                                const croppedFile = new File([blob], file.name, { type: 'image/jpeg', lastModified: new Date() });
                                dataTransfer.items.add(croppedFile);

                                // Update input.files with all cropped files
                                input.files = dataTransfer.files;
                            });
                        } else {
                            console.error('Canvas is undefined, possibly due to incorrect cropper initialization.');
                        }
                    });
                };
                reader.readAsDataURL(file);
            });
        });



    </script>



    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.getElementById('formMain')
            const productPrice = document.getElementById('productPrice');
            const productQuantity = document.getElementById('productQuantity');


            // Validate if input is a number
            function validateNumberField(field, errorFieldId, fieldName) {
                const value = field.value.trim();
                const errorField = document.getElementById(errorFieldId);
                if (isNaN(value) || value === '' || value < 0) {
                    errorField.textContent = `${fieldName} must be a number.And Cannot be Negative`;
                    return false;
                } else {
                    errorField.textContent = '';
                    return true;
                }
            }

            //validate image is cropped
            function isCropped() {
                let cropBtnList = document.querySelectorAll('#CropBtn');
                const errorField = document.getElementById('imagesError');
                let state = false;

                if (cropBtnList.length == 0) {
                    state = true;
                }
                if (state == true) {
                    errorField.innerText = 'All Cropped';
                    console.log('cropped')
                } else {
                    console.log(' not cropped')
                    errorField.innerText = 'Crop all Before Upload ';
                }
                console.log('state ', state);
                return state; // Corrected here
            }


            // Add focus validation for price
            productPrice.addEventListener('blur', function () {
                validateNumberField(productPrice, 'priceError', 'Price');
            });

            // Add focus validation for quantity
            productQuantity.addEventListener('blur', function () {
                validateNumberField(productQuantity, 'quantityError', 'Quantity');
            });




            // Final form submission validation
            form.addEventListener('submit', function (event) {
                const isPriceValid = validateNumberField(productPrice, 'priceError', 'Price');
                const isQuantityValid = validateNumberField(productQuantity, 'quantityError', 'Quantity');
                const isCroppedVar = isCropped()

                if (!isPriceValid || !isQuantityValid || !isCroppedVar) {
                    Swal.fire({
                        title: "Field Error",
                        text: 'Please Check All Fields',
                        icon: 'info',

                    });
                    event.preventDefault(); // Prevent form submission if validation fails
                }
                else {
                    form.submit()
                }
            });
        });
    </script>
    <%- include('./partials/footer'); %>
        <%- include('../user-views/partials/alertMessages'); %>