<%- include('./partials/header'); %>

<div class="container-fluid pt-4 px-4">
<div class="bg-light text-center rounded p-4">
<form action="/admin/editCatagory?id=<%=user._id%>"" method="POST"  >
    <!-- Add your form action and method attributes above -->
    <div class="row">
        <div class="col-6">
            <div class="content-header">
                <h2 class="content-title">Edit Catagory</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <h6>General info</h6>
                        </div>
                        <div class="col-md-9">
                            <div class="mb-4">
                                <label class="form-label">Title</label>
                                <input type="text" name="title" placeholder="<%=user.name%>" class="form-control">
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Description</label>
                                <textarea placeholder="<%=user.discription %>" name="discription" class="form-control" rows="4"></textarea>
                            </div>
                            
                        </div> <!-- col.// -->
                    </div> <!-- row.// -->

                    <hr class="mb-4 mt-0">
                    <div class="row">
                        <div class="col-md-3">
                            <h6>Media</h6>
                        </div>
                        <div class="col-md-9">
                            <div class="mb-4">
                                <label class="form-label">Images</label>
                               
                                <input class="form-control" type="file" accept="image/*" name="images" >
                            </div>
                        </div> <!-- col.// -->
                    </div> <!-- .row end// -->

                    <button type="submit" class="btn btn-primary btn-lg btn-block">Update Catagory</button>
                </div>
            </div>
        </div>
    </div>
   
</form>
</div>
</div>
<%- include('./partials/footer'); %>