<%- include('./partials/header'); %>



    <!-- Sale & Revenue Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-chart-bar fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Total Sales</p>
                        <h6 class="mb-0">
                            <%= totalSale %>
                        </h6>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-chart-pie fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Total Revenue</p>
                        <h6 class="mb-0">₹<%= totalRevenue %>
                        </h6>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-chart-area fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Total Discount</p>
                        <h6 class="mb-0">-₹<%= totalDiscount %>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Sale & Revenue End -->


    <!-- Filter Section Start -->
    <div class="container-fluid pt-4">
        <form action="/admin/salesReport" method="GET" class="row gx-3 gy-2 align-items-end">
            <!-- Filter By Select -->
            <div class="col-12 col-sm-6 col-md-3">
                <label for="filter" class="form-label">Filter By:</label>
                <select name="filter" id="filter" class="form-select">
                    <%if(filter){%>
                        <option value="<%=filter%>" selected>
                            <%=filter%>
                        </option>
                        <%}else{%>
                            <option value="All" selected>
                                All
                            </option>
                            <%}%>
                                <option value="Daily">Daily</option>
                                <option value="Weekly">Weekly</option>
                                <option value="Monthly">Monthly</option>
                                <option value="Yearly">Yearly</option>
                                <option value="Custom">Custom</option>
                </select>
            </div>
            <!-- Start Date -->
            <div class="col-12 col-sm-6 col-md-3">
                <label for="startDate" class="form-label">Start Date:</label>
                <input type="date" name="startDate" id="startDate" class="form-control" disabled>
            </div>
            <!-- End Date -->
            <div class="col-12 col-sm-6 col-md-3">
                <label for="endDate" class="form-label">End Date:</label>
                <input type="date" name="endDate" id="endDate" class="form-control" disabled>
            </div>
            <!-- Submit Button -->
            <div class="col-12 col-sm-6 col-md-3">
                <button type="submit" class="btn btn-primary w-100">Filter</button>
            </div>
        </form>
    </div>
    <!-- Filter Section End -->


    <%if(orders.length>0){%>

        <!-- Sales Report Start -->
        <div class="container-fluid pt-4 px-4">

            <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">

                    <h6 class="mb-0">Sales Report</h6>
                    <div>
                        <a href="/admin/salesReport?download=pdf" class="btn btn-danger mt-1">Download PDF</a>
                        <a href="/admin/salesReport?download=excel" class="btn btn-success mt-1">Download Excel</a>
                    </div>
                </div>
                <div class="table-responsive">

                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                        <thead>
                            <tr class="text-dark">
                                <th scope="col"><input class="form-check-input" type="checkbox"></th>
                                <th scope="col">Date</th>
                                <th scope="col">Order ID</th>
                                <th scope="col">Customer</th>
                                <th scope="col">Discount</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Method</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (let order of orders) { %>
                                <tr>
                                    <td><input class="form-check-input" type="checkbox"></td>
                                    <td>
                                        <%= order.date %>
                                    </td>
                                    <td>
                                        <%= order.orderID %>
                                    </td>
                                    <td>
                                        <%= order.userId?.username ?order.userId?.username:'Not Found' %>
                                    </td>
                                    <td>₹<%= order.discount %>
                                    </td>
                                    <td>₹<%= order.totalPrice %>
                                    </td>
                                    <td>
                                        <%= order.method %>
                                    </td>
                                    <td>
                                        <%= order.status %>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <!-- Sales Report End -->
        <% } else {%>
            <div class="container-fluid pt-4 px-4">

                <div class="bg-light text-center rounded p-4">
                    <div class="notFound text-center ">
                        <h5>No Orders Has Delevered !</h5>
                    </div>
                </div>
            </div>
            <% } %>
                <%- include('./partials/footer'); %>
                    <%- include('../user-views/partials/alertMessages'); %>

                        <script>
                            const availableDates = '<%=dates%>'.split(',');
                            // console.log(availableDates)

                            const startDateInput = document.getElementById('startDate');

                            const endDateInput = document.getElementById('endDate');

                            // Function to check if a date is available
                            function isDateAvailable(date) {
                                // console.log(availableDates.includes(date))
                                return availableDates.includes(date);
                            }

                            // Restrict date selection to available dates
                            startDateInput.addEventListener('change', function () {

                                const selectedDate = new Date(this.value);
                                const day = String(selectedDate.getDate()).padStart(2, '0');
                                const month = String(selectedDate.getMonth() + 1).padStart(2, '0'); // Months are zero-indexed
                                const year = selectedDate.getFullYear();

                                // Format to DD-MM-YYYY
                                const formattedDate = `${day}/${month}/${year}`;

                                if (!isDateAvailable(formattedDate)) {
                                    alert('Selected start date is not available.');
                                    this.value = ''; // Reset the input value
                                }


                            });

                            endDateInput.addEventListener('change', function () {

                                const selectedDate = new Date(this.value);
                                const day = String(selectedDate.getDate()).padStart(2, '0');
                                const month = String(selectedDate.getMonth() + 1).padStart(2, '0'); // Months are zero-indexed
                                const year = selectedDate.getFullYear();

                                // Format to DD-MM-YYYY
                                const formattedDate = `${day}/${month}/${year}`;

                                if (!isDateAvailable(formattedDate)) {
                                    alert('Selected start date is not available.');
                                    this.value = ''; // Reset the input value
                                }
                            });

                            // Enable or disable date inputs based on the filter selected
                            document.getElementById('filter').addEventListener('change', function () {
                                const filter = this.value;

                                if (filter === 'custom') {
                                    startDateInput.disabled = false;
                                    endDateInput.disabled = false;
                                } else {
                                    startDateInput.disabled = true;
                                    endDateInput.disabled = true;
                                    startDateInput.value = '';
                                    endDateInput.value = '';
                                }
                            });
                        </script>