<%- include('./partials/header'); %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- ##### Welcome Area Start ##### -->

    <section class="welcome_area bg-img background-overlay" style="background-image: url(/img/bg-img/bg-1.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="hero-content">
                        <h6>asoss</h6>
                        <h2>New Collection</h2>
                        <a href="/shop" class="btn essence-btn">view collection</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Welcome Area End ##### -->

    <!-- ##### Top Catagory Area Start ##### -->
    <div class="top_catagory_area section-padding-80 clearfix">
        <div class="container">
            <div class="row justify-content-center">
                <% if (catagory.length> 0) { %>

                    <% for (let i=0; i < catagory.length; i++) { %>
                        <!-- Single Catagory -->
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img"
                                style="background-image: url('/admin/assets/images/catagory/<%= catagory[i].image %>');">
                                <div class="catagory-content">
                                    <a href="/shop">
                                        <%= catagory[i].name %>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <% } %>
                            <% } else { %>
                                <div class="not-found">
                                    <p>No Catagory Found</p>
                                </div>
                                <% } %>

            </div>
        </div>
    </div>
    <!-- ##### Top Catagory Area End ##### -->

    <!-- ##### CTA Area Start ##### -->
    <div class="cta-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cta-content bg-img background-overlay"
                        style="background-image: url(/img/bg-img/bg-5.jpg);">
                        <div class="h-100 d-flex align-items-center justify-content-end">
                            <div class="cta--text">
                                <h6>-60%</h6>
                                <h2>Global Sale</h2>
                                <a href="/shop" class="btn essence-btn">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### CTA Area End ##### -->

    <!-- ##### New Arrivals Area Start ##### -->
    <section class="new_arrivals_area section-padding-80 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>Popular Products</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <% if (product.length> 0) { %>
                        <div class="popular-products-slides owl-carousel">
                            <% for (let i=0; i < product.length; i++) { %>

                                <!-- Single Product -->
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="/admin/assets/images/catagory/<%= product[i]?.images[0] %>" alt="">
                                        <!-- Hover Thumb -->
                                        <img class="hover-img"
                                            src="/admin/assets/images/catagory/<%= product[i]?.images[1] %>" alt="">
                                        <!-- Product Badge -->
                                        <%if(product[i].categary?.offer?.status==true){%>
                                            <div class="product-badge offer-badge">
                                                <span>
                                                    <%= '%' + product[i].categary?.offer.percentage%> Off
                                                </span>
                                            </div>
                                            <%}%>
                                                <%if(user){%>
                                                    <!-- Favourite -->
                                                    <div class="product-favourite">
                                                        <a href="#" class="favme fa fa-heart"
                                                            onclick="addToFav('<%= product[i]._id %>')"></a>
                                                    </div>
                                                    <%}%>
                                    </div>
                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <span>
                                            <%= product[i].brand.name %>
                                        </span>
                                        <a href="/product?product=<%= product[i]._id %>">
                                            <h6>
                                                <%= product[i].name %>
                                            </h6>
                                        </a>
                                        <p class="product-price">
                                            <%if(product[i].actualPrice.amount !==product[i].price ){%>
                                                <span class="old-price">
                                                    <%='₹'+product[i].actualPrice.amount %>
                                                </span>
                                                <%}%>
                                                    ₹<%= product[i].price %>

                                        </p>
                                        <%if(user && product[i].quantity>0 ){%>
                                            <!-- Hover Content -->
                                            <div class="hover-content">
                                                <!-- Add to Cart -->
                                                <div class="add-to-cart-btn">
                                                    <a href="#" class="btn essence-btn"
                                                        onclick="addTOCart('<%= product[i]._id %>')">Add to Cart</a>
                                                </div>
                                            </div>
                                            <%}%>
                                    </div>
                                </div>

                                <% } %>
                                    <% } else { %>

                                        <div class="not-found">
                                            <p>No Product Found</p>
                                        </div>
                                        <% } %>

                        </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ##### New Arrivals Area End ##### -->

    <!-- ##### Brands Area Start ##### -->
    <div class="brands-area d-flex align-items-center justify-content-between">
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="/img/core-img/brand1.png" alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="/img/core-img/brand2.png" alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="/img/core-img/brand3.png" alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="/img/core-img/brand4.png" alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="/img/core-img/brand5.png" alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="/img/core-img/brand6.png" alt="">
        </div>
    </div>
    <!-- ##### Brands Area End ##### -->
    <%- include('./partials/footer') -%>

        <script>
            // add to favarate
            function addToFav(id) {
                axios.get(`/addToWishlist?id=${id}`,).then((res) => {
                    Swal.fire({
                        icon: res.data.type,
                        title: res.data.msg,
                        showConfirmButton: false,
                        timer: 1000
                    });
                }).catch((err) => {
                    Swal.fire({
                        icon: "error",
                        title: err,
                        showConfirmButton: false,
                        timer: 1000
                    });
                })
            };
            function addTOCart(id) {
                console.log('Function called with ID:', id);

                return axios.post('/addToCart', {
                    product_id: id,
                })
                    .then((response) => {
                        console.log(response);
                        console.log(`${id} is added -- ${response.data.messageType}`);
                        Swal.fire({
                            title: "CART",
                            text: response.data.message,
                            icon: response.data.messageType,
                            footer: `<a href='/cart'>Click here to View Cart</a>`
                        });
                    })
                    .catch((error) => {
                        console.log(error);
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: "Something went wrong!",
                            footer: 'Cannot Add item to cart'
                        });
                    });
            }
        </script>